.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* /////// Main Website Styling /////// */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  /* Makes root full length (leave commented) */
  /* max-width: 1280px; */
  /* Centers Page */
  margin: 0px auto;
  /* padding: 2rem; */
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 0px; */
  align-content: center;
  flex-wrap: wrap;
}

body {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* Locks the screen on intro */
  /* overflow: hidden; */
}

.nav-link-container {
  /* background-color: white; */
  /* Centers NavBar */
  margin: 10px;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* Makes NavBar sticky */
  align-items: center;
  z-index: 0; /* Lower than content */
}

.nav-link {
  position: relative; /* Ensures ::after is relative to each link */
  margin: 20px;
  list-style-type: none;
  text-shadow: 5px 5px rgb(82, 78, 78);
  /* Creates Shadows */
  padding-bottom: 10px; /* Adds spacing for the underline */
}

/* Creating the horizontal line */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Expand the line on hover */
.nav-link:hover::after {
  width: 100%; /* Enables white line */
  left: 0;
}

a:visited, a:focus {
  color: white;
}

a:hover {
  color: white;
}

.content-container {
  padding: 30px;
}